.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 32px;
  width: 32px;
}

.nav-ul {
  padding: 2.5%;
  padding-bottom: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 2px grey;
}

.profile-button {
  cursor: pointer;
}

.hidden {
  display: none
}